body {
    margin: 0;
    background-color: #f2f2f2;
}

#page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

#mechanism {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#seesaw {
    position: relative;
    width : 400px;
    height: 20px;
    background-color: brown;
    transform-origin: 50% 50%;
}

#holder {
    position: absolute;
    left: 50%;
    top: 100%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 120px solid #444;
    width: 0;
    height: 0;
    transform: translateX(-50%);
}

#ground {
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: green;
    bottom: 35%;
    transform: translateX(-50%);
    left: 50%;
}

#earth {
    position: absolute;
    width: 100%;
    height: 35%;
    background-color: #8b5a2b;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
       
}

#container {
    position: relative;
    width: 100%;
    height: 925px;
    overflow: hidden;
    margin: 0 auto;

}
